@charset  "ISO-8859-1";

.nav{
display: none;
}
#divBusca{
  background-color: #105627;
  border-radius: 10px;
  width: 200px;
}
#txtBusca{
  float: left;
  background-color: transparent;
  padding-left: 9px;
  font-style: italic;
  font-size: 18px;
  border: none;
  height: 33px;
  width: 180px;
}
   *{
    margin: 0;
    padding: 0;
  }
      a{
      color: white;
      text-decoration: none;
    }
    a:hover{
      opacity: 0.5;
    }
    .logo{
      font-size: 30px;
      font-weight: 1000;
      font-family: system-ui, apple-system, helvetica, arial, sans-serif;
      letter-spacing: 1.5px;
      -webkit-text-stroke-width: 0px;
      -webkit-text-stroke-color: #ccffff;
}
    .navi{
     display: flex;
     justify-content: space-around;
     align-items: center;
     background: #1a8e41;
     height: 13vh;
}
    .nav-list{
       list-style: none;
       display: flex;
}
    .nav-list li{
       letter-spacing: 2px;
       margin-left: 0px;
       display: block;
}
   .nav-list li a{
       display: block;
       padding: 20px;
       font-family: sans-serif;
       font-size: 17px;
       font-weight: 600;
}
.toma, .nav-list li:hover{
   background: #2bab0d;
   border-radius: 3px;
}
.sub-menu-1{
display: none;
}
 .nav-list li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: rgb(0,100,0);
    margin-top: 2px;
    margin-left: -15px;
    transition: sub-menu-1 5s;
}
 @media (max-width: 999px) {
 @import url('https://fonts.googleapis.com/css?family=poppins:100,200,300,400,500,600,800,900');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'poppins', sans-serif;
}
:root{
 --clr: #222327;
}
body{
/*margin: 0 0 55px 0;*/
background: var(--clr);
}
.nav{ 
display: flex;
position: fixed;
bottom: 0;
width: 100%;
height: 75px;
background: #fff;
display: flex;
justify-content: center;
  align-items: center;
}
.nav ul{
display: flex;
width: 350px;
}
.nav ul li{
position: relative;
list-style: none;
width: 70px;
height: 70px;
z-index: 1;
}
.nav ul li a{
 position: relative;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 100%;
text-align: center;
font-weight: 500;
}
.nav ul li a .icon{
position: relative;
display: block;
line-height: 30px;
font-size: 1.5em;
text-align: center;
transition: 0.5s;
color: var(--clr);
}
.nav ul li.active a .icon{
transform: translateY(-35px);
}
.nav ul li a .text{
position: absolute;
color: var(--clr);
font-weight: 400;
font-size: 0.75em;
letter-spacing: 0.05em;
transition: 0.5s;
opacity: 0;
transform: translateY(20px);
}
.nav ul li.active a .text{
opacity: 1;
transform: translateY(10px);
}
.indicator{
position: absolute;
top: -50%;
width: 70px;
height: 70px;
background: #29fd53;
border-radius: 50%;
border: 6px solid var(--clr);
transition: 0.5s,
}
.indicator::before{
content: '';
position: absolute;
top: 50%;
left: -22px;
width: 20px;
height: 20px;
background: transparent;
border-top-right-radius: 20px;
box-shadow: 0px -10px 0 0 var(--clr); 
}
.indicator::after{
content: '';
position: absolute;
top: 50%;
right: -22px;
width: 20px;
height: 20px;
background: transparent;
border-top-left-radius: 20px;
box-shadow: 0px -10px 0 0 var(--clr); 
}
.nav ul li:nth-child(1).active ~ .indicator{
transform: translateX(calc(70px * 0));
}
.nav ul li:nth-child(2).active ~ .indicator{
transform: translateX(calc(70px * 1));
}
.nav ul li:nth-child(3).active ~ .indicator{
transform: translateX(calc(70px * 2));
}
.nav ul li:nth-child(4).active ~ .indicator{
transform: translateX(calc(70px * 3));
}
.nav ul li:nth-child(5).active ~ .indicator{
transform: translateX(calc(70px * 4));
}
.nav-list{
display: none;
}
#divBusca{
 display: none;
}
.toma, .nav-list li:hover{
   background: none;
}
.navi{
 height: 10vh;
}
}
.anuncio{
   display: none;
   max-width: 1200px;
   margin: 10px auto 9px;
   background: red;
   grid-template-columns: minmax(600px, 1200px);
   grid-template-rows: 170px;
}
.ex{
 text-transform: uppercase;
 font: 30px 'Oswald', sans-serif;
 font-weight: 900;
text-shadow: 0 0 5px #999;
text-transform: uppercase;
margin: 10px;
width: 300px;
letter-spacing: -1.8px;
color: #222327;
animation-name: color;
animation-duration: 2s;
animation-iteration-count: infinite;
}
@keyframes color{
  from {color: #222327;}
  to {color: #fff;}
}
.news{
   display: grid;
   max-width: 1330px;
   margin: 0 auto 8px;
   grid-template-columns: minmax(600px, 940px) 390px;
   grid-template-rows: 320px 320px;
   grid-template-areas: "A b1"
                        "A b2";
}
.item{
align-items: end;
margin: 8px 8px 8px 8px;
transition: transform 0.5s;
}
.item:hover {
transform: translateY(-7px);
box-shadow: 3px 3px 3px 1px rgba(0,0,0,1);
}
.A{
grid-area: A;
display: flex;
background: url('imagens/baia.jpg');
background-position: center; 
background-repeat: no-repeat; 
background-size: cover;
text-align: justify;
}
.b1{
   grid-area: b1;
 display: flex;
background: url('imagens/baia.jpg');
background-position: center; 
background-repeat: no-repeat; 
background-size: cover;
}
.b2{
   grid-area: b2;
 display: flex;
background: url('imagens/baia.jpg');
background-position: center; 
background-repeat: no-repeat; 
background-size: cover;
}
.placar{
    display: grid;
    max-width: 1330px;
    border: 5px solid #e0e0d2;
    box-shadow: 0 0 1em #cbcbb4;
    border-radius: 10px;
    margin: 0 auto;
    overflow-x: auto;
    grid-template-columns: repeat(7, 380px);
    grid-template-rows: 197px;
    grid-template-areas: "c1 c2 c3 c4 c5 c6 c7";
}
.placar::-webkit-scrollbar{
   width: 0;
}
.w{
background: green;
}
  .c1{
   grid-area: c1;
   }
   .c2{
   grid-area: c2;
}
   .c3{
   grid-area: c3;
 }
   .c4{
   grid-area: c4;
 }

   .c5{
   grid-area: c5;
 }

   .c6{
   grid-area: c6;
 }
   .c7{
   grid-area: c7;
 }
   .resto{
    display: grid;
    max-width: 1330px;
    margin: 0 auto 8px;
    grid-template-columns: 600px minmax(10px, 300px) 340px;
    grid-template-rows: repeat(4, 270px);
    grid-template-areas: "d1 . anuncio2"
                         "d2 . anuncio2"
                         "d3 . anuncio2"
                         "d4 . anuncio2";
}

  .anuncio2{
   grid-area: anuncio2;
   margin: 8px 8px 8px 8px;
   background: black;
}
.d1{
   grid-area: d1;
 display: flex;
background: url('imagens/baia.jpg');
background-position: center; 
background-repeat: no-repeat; 
background-size: cover;
}

   .d2{
   grid-area: d2;
 display: flex;
background: url('imagens/baia.jpg');
background-position: center; 
background-repeat: no-repeat; 
background-size: cover;
}
   .d3{
   grid-area: d3;
 display: flex;
background: url('imagens/baia.jpg');
background-position: center; 
background-repeat: no-repeat; 
background-size: cover;
}
.d4{
   grid-area: d4;
 display: flex;
 background: url('imagens/baia.jpg');
 background-position: center; 
 background-repeat: no-repeat; 
 background-size: cover;
}
.pgrid{
 background: red;
 color: white;
text-align: center;
font: 20px 'Oswald', sans-serif;
 font-weight: 700;
text-transform: uppercase;
width: 100px;
border: solid 1px black;
}
.dgrid{
 font: 25px 'Oswald', sans-serif;
 font-weight: 700;
text-shadow: 0 0 5px #999;
text-transform: uppercase;
letter-spacing: -1px;
 margin: 0 25px 16px 10px;
color: white;
background: rgba(12, 80, 65, 0.4);
}
.gridh1{
 font: 37px 'Oswald', sans-serif;
 font-weight: 700;
text-shadow: 0 0 5px #999;
text-transform: uppercase;
letter-spacing: -1.8px;
margin: 0 150px 40px 30px;
color: white;
background: rgba(12, 80, 65, 0.4);
}
.gridh2{
 font: 25px 'Oswald', sans-serif;
 font-weight: 700;
text-shadow: 0 0 5px #999;
text-transform: uppercase;
margin: 0 25px 16px 10px;
letter-spacing: -1px;
color: white;
background: rgba(12, 80, 65, 0.4);
}
@media (max-width: 600px) {
.item:hover {
transform: none;
}
.gridh1{
font-size: 25px;
margin: 0 15px 5px 5px;
}
.gridh2{
margin: 0 1px 5px 10px;
}
.gridh3{
font-size: 23px;
margin: 0 1px 5px 10px;
}
}
@media (max-width: 600px) {
.corpo{
display: grid;
}
  .anuncio{
   grid-template-columns: 355px;
   grid-template-rows: 150px;
}
  .news{
   grid-template-columns: 355px;
   grid-template-rows: 362px repeat(2, 300px);
   grid-template-areas: "A"
                        "b1"
                        "b2";
}
.item{
margin: 0px 0px 8px 0px;
}
.placar{
    grid-template-columns: 320px;
    grid-template-rows: repeat(3, 180px);
    grid-template-areas: "c1"
                         "c2"
                         "c3";
}
.resto{
    grid-template-columns: 355px;
    grid-template-rows: repeat(5, 250px);
    grid-template-areas: "d1"
                         "d2"
                         "d3"
                         "d4"
                         "anuncio2";
}
}
.footer{
  padding: 50px 0;
  background-color:  #98e698;
  color: #4b4c4d;
}
.footer h3{
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 18px;
}
.footer ul{
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 16px;
  margin-bottom: 0;
}
.footer ul a{
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}
.footer ul a:hover{
  opacity: 1;
}
  .footer .item{
    text-align: center;
    padding-bottom: 20px;
  }
  .footer .item .social{
    text-align: center;
  }
.footer .item .social > a{
  font-size: 28px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 22px;
  color: inherit;
  opacity: 0.75;
}

.footer .item .social > a:hover{
  opacity: 0.9;
}
  .footer .item .social > a{
    margin-top: 40px;
}
.footer .copyright{
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 13px;
  opacity: 0.6;
} 
.princ-jogos{
text-transform: uppercase;
 font: 24px 'Oswald', sans-serif;
 font-weight: 900;
text-shadow: 0 0 5px #999;
text-transform: uppercase;
margin: 10px;
width: 300px;
letter-spacing: -1.8px;
color: #222327;
}